<mat-toolbar color="primary" class="app-toolbar">
  <span class="app-title">Traffic & Video Management Dashboard</span>

  <span class="spacer"></span>

  <!-- User Menu -->
  <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="currentUser()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled>
      <span>{{ currentUser()?.username }}</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="simple-content">
  <router-outlet></router-outlet>
</div>
