/* You can add global styles to this file, and also import other style files */
// Snackbar styles
.success-snackbar {
  background: #4caf50 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.error-snackbar {
  background: #f44336 !important;
  color: white !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}
